*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
html{
	font-size: 16px;
}
a{
	text-decoration: none;
	color: #333333;
}
ul{
	list-style: none;
}
.wrapper{
	width: 100%;
	max-width: 1200px;
	margin: 0px auto;
	/* background: url(../img/486.png); */
}
.flex-row{
	display: flex;
	flex-wrap: wrap;
}
.flex-col-1{
	max-width: calc(4.16667 * 1%);
	flex: 0 0 calc(4.16667 * 1%);
}
.flex-col-2{
	max-width: calc(4.16667 * 2%);
	flex: 0 0 calc(4.16667 * 2%);
}
.flex-col-3{
	max-width: calc(4.16667 * 3%);
	flex: 0 0 calc(4.16667 * 3%);
}
.flex-col-4{
	max-width: calc(4.16667 * 4%);
	flex: 0 0 calc(4.16667 * 4%);
}
.flex-col-5{
	max-width: calc(4.16667 * 5%);
	flex: 0 0 calc(4.16667 * 5%);
}
.flex-col-6{
	max-width: calc(4.16667 * 6%);
	flex: 0 0 calc(4.16667 * 6%);
}
.flex-col-7{
	max-width: calc(4.16667 * 7%);
	flex: 0 0 calc(4.16667 * 7%);
}
.flex-col-8{
	max-width: calc(4.16667 * 8%);
	flex: 0 0 calc(4.16667 * 8%);
}
.flex-col-9{
	max-width: calc(4.16667 * 9%);
	flex: 0 0 calc(4.16667 * 9%);
}
.flex-col-10{
	max-width: calc(4.16667 * 10%);
	flex: 0 0 calc(4.16667 * 10%);
}
.flex-col-11{
	max-width: calc(4.16667 * 11%);
	flex: 0 0 calc(4.16667 * 11%);
}
.flex-col-12{
	max-width: calc(4.16667 * 12%);
	flex: 0 0 calc(4.16667 * 12%);
}
.flex-col-13{
	max-width: calc(4.16667 * 13%);
	flex: 0 0 calc(4.16667 * 13%);
}
.flex-col-14{
	max-width: calc(4.16667 * 14%);
	flex: 0 0 calc(4.16667 * 14%);
}
.flex-col-15{
	max-width: calc(4.16667 * 15%);
	flex: 0 0 calc(4.16667 * 15%);
}
.flex-col-16{
	max-width: calc(4.16667 * 16%);
	flex: 0 0 calc(4.16667 * 16%);
}
.flex-col-17{
	max-width: calc(4.16667 * 17%);
	flex: 0 0 calc(4.16667 * 17%);
}.flex-col-18{
	max-width: calc(4.16667 * 18%);
	flex: 0 0 calc(4.16667 * 18%);
}
.flex-col-19{
	max-width: calc(4.16667 * 19%);
	flex: 0 0 calc(4.16667 * 19%);
}
.flex-col-20{
	max-width: calc(4.16667 * 20%);
	flex: 0 0 calc(4.16667 * 20%);
}
.flex-col-21{
	max-width: calc(4.16667 * 21%);
	flex: 0 0 calc(4.16667 * 21%);
}
.flex-col-22{
	max-width: calc(4.16667 * 22%);
	flex: 0 0 calc(4.16667 * 22%);
}
.flex-col-23{
	max-width: calc(4.16667 * 23%);
	flex: 0 0 calc(4.16667 * 23%);
}
.flex-col-24{
	max-width: calc(4.16667 * 24%);
	flex: 0 0 calc(4.16667 * 24%);
}