@charset "utf-8";
/* CSS Document */
input.txtDate{width:78px;height:18px;padding:1px 5px;border:1px solid #555;background:url(calendar_day.png) no-repeat right center;font:12px/18px Arial;cursor:pointer;}

.html_calendar{display:none;position:absolute;width:182px;font:12px Arial;border:1px solid #88b6d8;border-top:none;box-shadow:2px 2px 5px #083e66;z-index:1001;}
.html_calendar h5{position:relative;height:20px;padding:4px 6px;background:#88b6d8;color:#fff;font:normal 12px/20px "\5B8B\4F53";text-align:center;}
.html_calendar h5 select{vertical-align:baseline;font:12px/18px Tahoma;}
.html_calendar h5 span{padding:0 6px;}
.html_calendar table{position:relative;border-collapse:collapse;table-layout:fixed;empty-cells:show;font-family:Arial;text-align:center;}
.html_calendar table .sat{color:#06f}
.html_calendar table .sun{color:#e00;}
.html_calendar table .now{background:#d9e9fa;}
.html_calendar table .selected{background:#090;color:#fff;}
.html_calendar thead th{width:26px;height:24px;background:#fff;line-height:24px;text-align:center;}
.html_calendar tfoot td{height:24px;border-top:1px solid #ccc;background:#eee;color:#999;font-family:"\5B8B\4F53";line-height:24px;}
.html_calendar tfoot a{cursor:pointer;}
.html_calendar tfoot .pre,
.html_calendar tfoot .next{font-family:Tahoma;font-size:11px;}
.html_calendar tfoot .clear{}
.html_calendar tfoot a:hover{color:#333;text-decoration:none;}
.html_calendar tbody td{position:static;width:26px;height:22px;padding:0;background:#eaf4fe;line-height:22px;}
.html_calendar tbody td.num:hover{background:#88b6d8;color:#fff;text-decoration:none;cursor:pointer;}

